.btn_sb {
	background-color: #036635;
	width: 80px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
}

.btn_sb2 {
	background-color: #036635;
	width: 140px;
	height: 40px;
	font-weight: bold;
	font-size: 20px;
}